#navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
    background-color: var(--light-color);
  }
  
  #navbar.is-sticky {
    box-shadow: 0 6px 30px rgb(0 0 0 / 5%);
  }
  
  #navbar .container {
    height: 100%;
    position: relative;
  }
  
  #navbar .navbar-brand,
  #navbar .navbar-right > li > a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    color: var(--dark-color);
  }
  
  #navbar .navbar-brand {
    display: block;
    float: left;
    line-height: 50px;
    font-weight: 700;
    font-size: 18px;
  }
  
  #navbar .navbar-brand:active {
    text-decoration: none;
  }
  
  #navbar .navbar-right {
    float: right;
    word-spacing: -4px;
  }
  
  #portfolio .filter > li:hover,
  #portfolio .filter > li.active,
  #navbar .navbar-right > li.active > a,
  #navbar .navbar-right > li:hover > a {
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--light-color);
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }
  
  #navbar .navbar-right > li {
    float: left;
    list-style-type: none;
  }
  
  #navbar .navbar-right > li > a {
    position: relative;
    display: block;
    font-size: 11px;
    line-height: 20px;
    padding: 15px 10px;
  }
  
  #navbar .navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px 0 8px;
    padding: 9px 10px;
    display: none;
  }
  
  #navbar .navbar-toggle .icon-bar {
    height: 2px;
    width: 22px;
    background-color: var(--dark-color);
    margin-top: 4px;
  }