/* PC */
@media (min-width: 1025px) {
  .container {
    width: 994px;
  }

  #contact .wrapper {
    width: 60%;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 746px;
  }

  #home .intro {
    width: 100%;
  }

  #portfolio .list-items-container .list-item {
    width: 50%;
  }

  #about .side-image {
    position: unset;
    float: none;
    width: 100%;
    height: 300px;
  }

  #about .side-image-text {
    float: none;
    width: 100%;
  }

  #blog .iconbox-title {
    height: 15.6px;
    -webkit-line-clamp: 1;
  }

  #contact .wrapper {
    width: 50%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .container {
    max-width: 526px;
  }

  .module-title {
    font-size: 24px;
  }

  .module-sub-title {
    font-size: 40px;
  }

  #home .intro {
    width: 100%;
  }

  #home .intro h1 {
    font-size: 34px;
    letter-spacing: 3px;
    line-height: 40.8px;
  }

  #home .mouse-icon,
  #home .chevron {
    display: none;
  }

  #navbar #navbar-right {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  #navbar .navbar-right > li {
    display: block;
    background-color: #fff;
  }

  #navbar .navbar-right > li > a {
    height: 40px;
    padding: 10px 15px;
  }

  #navbar .navbar-toggle {
    display: block;
  }

  #portfolio .list-items-container {
    width: 100%;
  }

  #portfolio .list-items-container .list-item {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  #services .col {
    width: 100%;
  }

  #services .iconbox {
    margin: 30px 20px;
  }

  #about .side-image {
    position: unset;
    float: none;
    width: 100%;
    height: 300px;
  }

  #about .side-image-text {
    float: none;
    width: 100%;
    padding: 100px 15px 50px;
  }

  #about .col {
    width: 100%;
    float: none;
  }

  #about .module-description {
    display: none;
  }

  #testimonial .wrapper-text {
    margin-bottom: 0 auto 20px;
    width: 100%;
  }

  #blog .col {
    float: none;
    width: 100%;
  }

  #blog .col .wrapper {
    margin: 30px 20px;
  }

  #contact .wrapper {
    width: 100%;
  }
}
