@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900);
@import url(https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2);

:root {
  --main-color: rgba(253, 115, 90, 1);
  --midori-color: #429f98; /* rgb(66, 159, 152) */
  --control-color: rgb(0, 0, 0, 0.2);
  --dark-color: #5b5963; /* rgb(91, 89, 99) */
  --footer-background-color: #333;
  --form-color: #555; /* rgb(85, 85, 85) */
  --line-color: #666; /* rgb(102, 102, 102) */
  --hover-color: #999;
  --sub-color: #ddd; /* rgb(221, 221, 221); */
  --back-color: #f5f5f5; /* rgb(245, 245, 245) */
  --light-color: #fff;
  --gradient-background-color: linear-gradient(45deg, #fa1f55 0%, #fd735a 100%);
  --opacity-gradient-background-color: linear-gradient(
    45deg,
    rgba(250, 31, 85, 0.8) 0%,
    rgba(253, 115, 90, 0.8) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

/* keyframes fadeInUp */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* module css */

.module {
  padding: 120px 0 100px;
}

/* container css */

.container {
  margin: 0 auto;
  padding: 0 15px;
  color: var(--dark-color);
  max-width: 1170px;
}

/* module-header css */

.module-header {
  margin-bottom: 50px;
  color: var(--dark-color);
}

.module-title {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.module-sub-title {
  position: absolute;
  z-index: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
  opacity: 0.05;
  position: absolute;
  width: 100%;
  top: -40px;
  letter-spacing: 5px;
}

.module-line {
  margin: 30px auto;
  background-color: var(--line-color);
  width: 55px;
  height: 1px;
}

.row {
  margin: 0 -15px;
}

/* iconbox css */

.iconbox-text {
  color: var(--dark-color);
}

.iconbox-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 15.6px;
  margin-bottom: 15px;
}

.iconbox-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
}

/* Controls css */

.controls {
  word-spacing: -4px;
}

.controls .owl-page {
  background-clip: content-box;
  cursor: pointer;
  line-height: 21.6px;
  display: inline-block;
}

.controls .owl-page:hover,
.controls .active {
  width: 26px !important;
}

/* Preloader */

/* Home start */

#home {
  position: relative;
  height: 100vh;
  background: url(../images/home2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home .intro {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 60px 30px;
  margin: 0 auto;
  max-width: 850px;
  left: 0;
  right: 0;
  background: url(../images/pattern1.png) left center / 217px no-repeat;
  color: var(--light-color);
  z-index: 3;
  text-align: left;
}

#home .intro .hello,
#home .intro .who-creates {
  font-size: 16px;
  font-weight: 200;
  line-height: 28.8px;
  margin: 15px 0;
}

#home .intro h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 5px;
  margin: 5px 0;
}

#home .mouse-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  height: 50px;
  width: 30px;
  border: 2px solid var(--light-color);
  opacity: 0.4;
  border-radius: 16px;
  z-index: 3;
}

#home .mouse-icon .wheel {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  animation: mouse 1s linear infinite;
}

@keyframes mouse {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

#home .controls {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  z-index: 3;
}

#home .controls .owl-page {
  padding: 2px;
  background-color: var(--light-color);
  background-clip: content-box;
  border-radius: 10px;
  height: 12px;
  width: 12px;
  line-height: 21.6px;
}

#home .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-background-color);
  opacity: 0.5;
  z-index: 2;
}

#home .chevron {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: var(--light-color);
  opacity: 0.5;
  font-size: 20px;
  text-align: center;
  line-height: 47px;
  z-index: 3;
}

#home .left {
  left: 15px;
}

#home .right {
  right: 15px;
}

/* Home end */

/* Navigation start */

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  background-color: var(--light-color);
}

#navbar .is-sticky {
  box-shadow: 0 0 8px #ccc;
}

#navbar .container {
  height: 100%;
  position: relative;
}

#navbar .navbar-brand,
#navbar .navbar-right > li > a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  color: var(--dark-color);
}

#navbar .navbar-brand {
  display: block;
  float: left;
  line-height: 50px;
  font-weight: 700;
  font-size: 18px;
}

#navbar .navbar-brand:active {
  text-decoration: none;
}

#navbar .navbar-right {
  float: right;
  word-spacing: -4px;
}

#portfolio .filter > li:hover,
#portfolio .filter > li.active,
#navbar .navbar-right > li.active > a,
#navbar .navbar-right > li:hover > a {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--light-color);
  cursor: pointer;
}

#navbar .navbar-right > li {
  display: inline-block;
}

#navbar .navbar-right > li > a {
  position: relative;
  display: block;
  font-size: 11px;
  line-height: 20px;
  padding: 15px 10px;
}

#navbar .navbar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  margin: 4px 0 8px;
  padding: 9px 10px;
  display: none;
}

#navbar .navbar-toggle .icon-bar {
  height: 2px;
  width: 22px;
  background-color: var(--dark-color);
  margin-top: 4px;
}

/* Navigation end */

/* Portfolio start */

#portfolio {
  overflow: hidden;
}

#portfolio .filter {
  padding: 0 15px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

#portfolio .filter > li {
  margin: 5px;
  padding: 8px 20px;
  display: inline-block;
  background-color: var(--back-color);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 15.6px;
  border-radius: 2px;
}

#portfolio .list-items-container {
  position: relative;
}

#portfolio .list-items-container .list-item:hover .figcaption {
  display: block;
  cursor: pointer;
  transform: scale(0.97);
}

#portfolio .list-items-container .list-item {
  margin-bottom: 20px;
  padding: 0 10px;
  width: calc(100% / 3);
  float: left;
  list-style-type: none;
}

#portfolio .figure {
  position: relative;
}

#portfolio .list-items-container img {
  width: 100%;
  display: block;
}

#portfolio .figcaption {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  padding: 25px;
  text-align: center;
  background: var(--opacity-gradient-background-color);
}

#portfolio .caption-inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -20px;
}

#portfolio .portfolio-item-title {
  text-transform: uppercase;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 19.2px;
}

#portfolio .portfolio-item-desc {
  color: var(--sub-color);
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 23.4px;
}

/* Portfolio end */

/* Services start */

#services {
  background-color: var(--back-color);
}

#services .row {
  display: block;
  /* overflow: hidden; */
}

#services .col {
  position: relative;
  padding: 0 15px;
  width: calc(100% / 3);
  float: left;
}

#services .iconbox {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-color);
  padding: 50px 20px;
  margin: 30px 10px;
  box-shadow: -6px 10px 40px rgb(0 0 0 / 6%);
}

#services .iconbox-icon {
  position: absolute;
  margin: 0 auto;
  top: -35px;
  left: 0;
  right: 0;
  background-color: var(--light-color);
  color: var(--main-color);
  font-size: 30px;
  font-weight: 900;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  box-shadow: -6px 10px 40px rgb(0 0 0 / 6%);
}

#services .iconbox-text {
  padding-top: 30px;
  text-align: center;
}

/* Service end */

/* About start */

#about {
  position: relative;
}

#about .side-image {
  position: absolute;
  padding: 0 15px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  float: left;
  height: 100%;
  width: 50%;
}

#about .side-image-text {
  float: right;
  width: 50%;
  padding: 100px 60px 50px;
}

#about .content {
  position: relative;
  padding: 0 15px;
}

#about .module-description {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
}

#about .col {
  position: relative;
  padding: 0 15px;
  float: left;
  width: 50%;
}

#about .about-iconbox {
  position: relative;
  margin-bottom: 50px;
}

#about .about-iconbox-icon {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--main-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

#about .iconbox-text {
  padding-left: 55px;
}

/* About end */

/* Testimonial start */
#testimonial {
  background-color: var(--back-color);
}

#testimonial .wrapper-icon {
  position: relative;
  height: 130px;
}

#testimonial .module-icon {
  position: absolute;
  margin-bottom: 50px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-radius: 50%;
  font-size: 32px;
  color: var(--main-color);
  font-weight: 900;
  line-height: 80px;
  text-align: center;
  box-shadow: -4px 1px 13px rgb(0 0 0 / 10%);
  left: 50%;
  transform: translateX(-50%);
}

#testimonial .wrapper-text {
  position: relative;
  margin: 0 auto 20px auto;
  padding: 0 15px;
  width: calc(100% / 3 * 2);
  text-align: center;
}

#testimonial .testimonials {
  margin-bottom: 20px;
}

#testimonial .quote {
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  margin: 0 auto 10px auto;
  max-width: 500px;
}

#testimonial .author {
  font-size: 12px;
  font-weight: 700;
  line-height: 21.6px;
}

#testimonial .controls {
  margin-top: 40px;
}

#testimonial .owl-page {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 12.5px;
  width: 13px;
  line-height: 21.6px;
  opacity: 0.5;
}

#testimonial .controls .owl-page:hover,
#testimonial .controls .active {
  background-color: var(--main-color);
  opacity: 1;
}

/* Testimonial end */

/* Blog start */
#blog .col {
  padding: 0 15px;
  width: calc(100% / 3);
  float: left;
}

#blog a:hover .wrapper {
  margin-top: 25px;
}

#blog a:hover {
  transition: all 0.3s ease 0s;
}

#blog a:hover .blogList-btn {
  background-color: var(--main-color);
  color: var(--light-color);
}

#blog a {
  text-decoration: none;
}

#blog .col .wrapper {
  margin: 30px auto;
  box-shadow: -6px 10px 40px rgb(0 0 0 / 6%);
}

#blog .blogList-img {
  position: relative;
  width: 100%;
  height: 240px;
}

#blog .blogList-img img {
  width: 100%;
  height: 100%;
}

#blog .blogList-img .blogList-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 3px 10px;
  background-color: var(--light-color);
  box-shadow: -6px 10px 40px rgb(0 0 0 / 6%);
  color: var(--midori-color);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: pointer;
}

#blog .iconbox-text {
  padding: 25px 20px;
}

#blog .iconbox-title {
  height: 15.6px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#blog .view-more-btn {
  margin: 10px auto;
  padding: 10px 20px;
  height: 35px;
  width: 170px;
  background-color: var(--main-color);
  text-transform: uppercase;
  color: var(--light-color);
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  line-height: 15.6px;
  text-align: center;
}

/* Blog end */

/* Google Map start */

#map {
  height: 450px;
  background-color: var(--midori-color);
}

#map .wrapper {
  position: relative;
  height: 100%;
}

#map .confirm {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  background-color: var(--light-color);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 15px 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  z-index: 1;
}

#map .google-gray img {
  height: 17px;
}

#map .information {
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 20px;
}

#map .question-answer {
  overflow: hidden;
}

#map .question {
  float: left;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 36px;
}

#map .answer {
  right: 0;
  top: 0;
  border: 1px solid #dadce0;
  color: #1a73e8;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  cursor: pointer;
  padding: 0 24px;
  width: fit-content;
  line-height: 36px;
  float: right;
}

#map .full-screen-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--light-color);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#map .full-screen-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
}

#map .zoom {
  position: absolute;
  right: 0;
  bottom: 14px;
  margin: 10px;
  background-color: var(--light-color);
  border-radius: 2px;
}

#map .zoom .zoom-in,
#map .zoom .zoom-out {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#map .img-hover {
  display: none;
}

#map .img-active {
  display: none;
}

#map .zoom-in:hover .img,
#map .zoom-out:hover .img,
#map .zoom-in:hover .img-active,
#map .zoom-out:hover .img-active {
  display: none;
}

#map .zoom-in:hover .img-hover,
#map .zoom-out:hover .img-hover {
  display: block;
}

#map .zoom-in:active .img,
#map .zoom-out:active .img,
#map .zoom-in:active .img-hover,
#map .zoom-out:active .img-hover {
  display: none;
}

#map .zoom-in:active .img-active,
#map .zoom-out:active .img-active {
  display: block;
}

#map .zoom img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}

#map .zoom .line {
  margin: 0 5px;
  width: 30px;
  height: 1px;
  background-color: rgb(230, 230, 230);
}

#map .google-white {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 5px;
}

#map .google-white img {
  position: absolute;
  bottom: 0;
  left: 0;
}

#map .gmnoprint {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000;
  font-size: 10px;
  font-weight: 400;
}

#map .gmnoprint-item {
  float: left;
  margin-left: 1px;
  padding: 0 6px;
  background-color: var(--back-color);
  font-family: "Roboto", sans-serif;
  height: 14px;
  line-height: 14px;
}

/* Google Map end */

/* Contact start */

#contact .wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 50%;
}

#contact .form-group:focus {
  border-color: var(--line-color);
}

#contact .form-group {
  border: 1px solid var(--sub-color);
  border-radius: 2px;
  cursor: text;
  color: var(--form-color);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}

#contact .name-box,
#contact .email-box {
  height: 34px;
  padding: 0 15px;
  margin-bottom: 15px;
  line-height: 21.6px;
}

#contact .message-box {
  padding: 15px;
  margin-bottom: 8px;
  line-height: 1.42;
}

#contact .send-message-btn {
  background-color: var(--main-color);
  width: 100%;
  border: none;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  color: var(--light-color);
  padding: 7px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 18.5714px;
  cursor: pointer;
}

/* Contact end */

/* Footer start */
#footer {
  background-color: var(--footer-background-color);
  padding: 40px 0;
}

#footer .col {
  padding: 0 15px;
}

#footer .social-links {
  margin-bottom: 20px;
  text-align: center;
}

#footer a {
  color: rgba(255, 255, 255, 0.8);
}

#footer .link-icon {
  margin: 5px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  list-style-type: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  line-height: 36px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

#footer .copyright {
  font-family: "Poppins", sans-serif;
  color: var(--light-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
}

/* Footer end */

/* Scroll up */

#scroll-up a {
  position: fixed;
  bottom: 1.8em;
  right: 1.8em;
  width: 28px;
  height: 28px;
  background-color: rgb(0, 0, 0, 0.3);
  color: var(--light-color);
  font-size: 14px;
  font-weight: 900;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
}

#scroll-up:hover a {
  background-color: rgba(235, 235, 235, 0.8);
  color: var(--dark-color);
}

/* .app {
  position: relative;
  overflow: hidden;
} */

/* .overlay {
  position: fixed;
  background-color: #ccc;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  right: 0;
  z-index: 998;
  opacity: 0.5;
} */
