@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900);
@import url(https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2);

:root {
  --main-color: rgba(253, 115, 90, 1);
  --midori-color: #429f98; /* rgb(66, 159, 152) */
  --control-color: rgb(0, 0, 0, 0.2);
  --dark-color: #5b5963; /* rgb(91, 89, 99) */
  --footer-background-color: #333;
  --form-color: #555; /* rgb(85, 85, 85) */
  --line-color: #666; /* rgb(102, 102, 102) */
  --hover-color: #999;
  --sub-color: #ddd; /* rgb(221, 221, 221); */
  --back-color: #f5f5f5; /* rgb(245, 245, 245) */
  --light-color: #fff;
  --gradient-background-color: linear-gradient(45deg, #fa1f55 0%, #fd735a 100%);
  --opacity-gradient-background-color: linear-gradient(
    45deg,
    rgba(250, 31, 85, 0.8) 0%,
    rgba(253, 115, 90, 0.8) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

/* keyframes fadeInUp */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* module css */

.module {
  padding: 120px 0 100px;
}

/* container css */

.container {
  margin: 0 auto;
  padding: 0 15px;
  color: var(--dark-color);
  max-width: 1170px;
}

/* module-header css */

.module-header {
  margin-bottom: 50px;
  color: var(--dark-color);
}

.module-title {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.module-sub-title {
  position: absolute;
  z-index: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
  opacity: 0.05;
  position: absolute;
  width: 100%;
  top: -40px;
  letter-spacing: 5px;
}

.module-line {
  margin: 30px auto;
  background-color: var(--line-color);
  width: 55px;
  height: 1px;
}

.row {
  margin: 0 -15px;
}

/* iconbox css */

.iconbox-text {
  color: var(--dark-color);
}

.iconbox-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 15.6px;
  margin-bottom: 15px;
}

.iconbox-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
}

/* Controls css */

.controls {
  word-spacing: -4px;
}

.controls .owl-page {
  background-clip: content-box;
  cursor: pointer;
  line-height: 21.6px;
  display: inline-block;
}

.controls .owl-page:hover,
.controls .active {
  width: 26px !important;
}

/* Scroll up */

#scroll-up a {
  position: fixed;
  bottom: 1.8em;
  right: 1.8em;
  width: 28px;
  height: 28px;
  background-color: rgb(0, 0, 0, 0.3);
  color: var(--light-color);
  font-size: 14px;
  font-weight: 900;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
}

#scroll-up:hover a {
  background-color: rgba(235, 235, 235, 0.8);
  color: var(--dark-color);
}

/* .app {
  position: relative;
  overflow: hidden;
} */

/* .overlay {
  position: fixed;
  background-color: #ccc;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  right: 0;
  z-index: 998;
  opacity: 0.5;
} */
